.profile-blog {
    width: 100%;
    padding: 30px;
    display: flex;
    grid-gap: 25px;
    background: #fff;
    flex-direction: column;
    border: 1px solid #E2E3EF;
}

/* Profile Wallet */
.profile-wallet {
    width: 100%;
    display: flex;
    grid-gap: 15px;
    align-items: center;
    justify-content: flex-start;
}
.wallet-type {
    width: 45px;
    height: 45px;
    display: flex;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    align-items: center;
    background: #F35A05;
    justify-content: center;
    font-family: 'Ralleway', sans-serif;
}
.wallet__navs {
    display: flex;
    flex-direction: column;
}
.wallet-txt {
    opacity: 70%;
    font-size: 16px;
    font-weight: 700;
}
.wallet-count {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.profile-item {
    width: 100%;
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
}

/* Portfile Menu */
.profile-menu {
    display: flex;
    grid-gap: 20px;
    margin-top: 20px;
    list-style: none;
    flex-direction: column;
}
.profile-link {
    display: flex;
    grid-gap: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #202020;
}
.profile-link > i {
    color: #cdcedb;
}
.setting-input {
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}


/* Table */
.table-head {
    width: 100%;
    height: auto;
    padding: 30px;
    border: 1px solid #E2E3EF;
}
.table-title {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.table-body {
    width: 100%;
    padding: 30px;
    display: flex;
    border: 1px solid #E2E3EF;
}
.table-nav {
    width: 100%;
    display: flex;
    grid-gap: 20px;
    max-width: 300px;
    margin-right: 20px;
    flex-direction: column;
}
.table-input {
    width: 100%;
    font-size: 16px;
    background: none;
    padding: 10px 20px;
    border: 1px solid #DEDEDE;
    font-family: 'Montserrat', sans-serif;
}

.payment-menu {
    display: flex;
    grid-gap: 10px;
    list-style: none;
    flex-direction: column;
}
.payment-link {
    width: 100%;
    display: flex;
    grid-gap: 10px;
    cursor: pointer;
    color: #202020;
    padding: 10px 20px;
    align-items: center;
    text-decoration: none;
    border: 1px solid #CCC;
}
.payment-link:hover {
    border: 1px solid #F35A05;
}
.payment-link-active {
    border: 1px solid #F35A05;
}

.table-content {
    width: 100%;
}
.history-menu {
    width: 100%;
    margin: 20px 0;
    list-style-type: none;
}
.history-head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.history-many-head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.history-title {
    opacity: 70%;
    font-size: 18px;
    color: #202020;
    font-weight: 600;
}
.history-content {
    width: 100%;
    display: flex;
    grid-gap: 10px;
    margin-top: 20px;
    flex-direction: column;
}
.history-blog {
    display: grid;
    padding: 20px;
    color: #585967;
    background: #FFF3EA;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Montserrat', sans-serif;
}
.history-many-blog {
    display: flex;
    padding: 20px;
    grid-gap: 10px;
    font-size: 14px;
    color: #585967;
    align-items: center;
    background: #FFF3EA;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.history-flex {
    display: flex;
    grid-gap: 10px;
    align-items: center;
}
.history-flex > i {
    font-size: 24px;
}
.history-status-success {
    width: auto;
    background: #3FB85A;
    padding: 8px 15px;
    color: #fff;
    font-size: 12px;
    border-radius: 40px;
}
.history-status-proccess {
    width: auto;
    background: #ED863B;
    padding: 8px 15px;
    color: #fff;
    font-size: 12px;
    border-radius: 40px;
}
.history-status-take {
    width: auto;
    background: #A1A1A1;
    padding: 8px 15px;
    color: #202020;
    font-size: 12px;
    border-radius: 40px;
}

/* @MEDIA = = = = = = = = =  = = = = = = = = = = = = = > */
@media (max-width: 1050px) {
    .table-body {
        grid-gap: 40px;
        flex-direction: column;
    }
    .table-nav {
        max-width: 100%;
    }
    .history-many-blog {
        flex-direction: column;
        padding: 20px;
    }
    .history-flex {
        text-align: center;
        flex-direction: column;
    }
    .history-nav {
        display: flex;
        grid-gap: 5px;
        align-items: center;
    }
    .history-nav {
        flex-direction: column;
    }
    .history-flex {
        margin-top: 10px;
    }
    .history-flex > i {
        font-size: 24px;
    }
    .history-status-take {
        width: 100%;
        display: flex;
        font-size: 16px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
    .history-status-success {
        width: 100%;
        display: flex;
        font-size: 16px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
    .history-status-proccess {
        width: 100%;
        display: flex;
        font-size: 16px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 767px) {
    .table-head {
        padding: 0;
        border: none;
    }
    .table-body {
        padding: 0;
        border: none;
        margin-top: 20px;
    }
    .history-head {
        display: none;
    }
    .history-blog {
        display: flex;
        grid-gap: 20px;
        padding: 40px 0;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
}