.sign-container {
    width: 350px;
    height: auto;
    display: flex;
    grid-gap: 25px;
    align-items: center;
    flex-direction: column;
}
.sign-container .moblie-table__item {
    grid-gap: 10px;
    width: 100%;
}
.checkbox-def {
    width: 100%;
    display: flex;
    cursor: pointer;
}
.checkbox-def > label {
    cursor: pointer;
}
.checkbox-def > input {
    margin-top: 5px;
    margin-right: 5px;
}
.checkbox-def > index:checked {
    background: red;
}

/* @MEDIA = = = = = = = = =  = = = = = = = = = = = = = > */
@media (max-width: 767px) {
    .sign-container {
        padding: 40px 15px;
    }
}